.navbar
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #2C3639;
    padding: 1rem 3rem;
    height:10vh;
    width:100%;

}

    .nav_logo{
        display:block;
        width:80px;
        height:60px;
        object-fit:contain;
    }

    form{
        flex:0.9;
        display:flex;
    }

form input{
            width:100%;
            padding: 0.3rem;
        }
            
input button{
                border:none;
                padding: 0 0.25rem;
                background: transparent;
                
            }

        

