.videod{
    
    cursor: pointer;
    margin-bottom:1rem;
    padding:0.7rem;
    position: relative;
    

 
}

div.videod div.img{
    margin-bottom:0.5rem;
position: relative;
}

div.videod div.img  img{
    
        width:100%;
    
}

div.videod div.video_title
{
    margin-bottom:0.5rem;
}